*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Project target&log folders #

/target/*
/logs/*
/out/*
*.log

# IDE files&folders #
.idea/*
*.iml


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
